#grid{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    
}
.boss{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2 {
    font-size: 2rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }